<div id="header">
	<div id="menu" class="container">
		<ul>
			<li class="current_page_item"><%= link_to "HOME", root_path%></li>
			<li><%= link_to "PENSUM TENTATIVO", estudiante_pensumtent_path%></li>
			<li><%= link_to "SEMESTRE TENTATIVO", estudiante_semtent_path%></li>
			<li><%= link_to "CONSOLIDADO", coordinador_consolidado_path%></li>
		</ul>
	</div>
</div>
<div id="logo" class="container" aling="center">
	<h1><%= link_to (image_tag 'logo.png'), root_path%></h1>
</div>
<div id="page" class="container" align="center">
	<div class="title">
		<h2>Plan de estudios deseado:</h2>
	</div>
	<br/>
	<p>Eventualmente se podr&aacute; ver el real, aqu&iacute; una muestra:</p>
	<table border="1" width="600">
	<tr><th>Semestre</th><th>Materia</th></tr>
	<tr><td align="center">2014-20</td><td align="center">Desarrollo de Videojuegos</td>
	</table>
	<br/>
</div>	
<div id="copyright" class="container">
	<p>Copyright (c) 2013 CupiCoordinador All rights reserved.</p>
</div>
